.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10px;
}

.input {
  height: 25px;
  width: 195px;
  background: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.input:focus {
  border-color: rgba(223, 225, 229, 0);
  outline: none;
}

.add-button {
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 24px;
}

.add-button:hover {
  border: 1px solid #dfe1e5;
}

.add-button:disabled {
  border: 1px solid transparent;
}
