.modal {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-img {
  z-index: 9999;
  max-width: 80%;
  max-height: 80%;
  animation: backInDown 1s;
}
