.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
  font-size: 14px;
  width: 100%;
}

.logo {
  padding: 0 15px;
}

.logo-gallery {
  display: flex;
  align-items: center;
  margin: 0 5px;
}